.main_menu{
    background-color: rgb(37, 37, 63);
    
    
    h2{   
        text-align: center;
        font-size: 2em;
        color: white;

        .servicios{
            color: rgb(250, 82, 15);
        }
    }

    .linea{
        margin: auto;
        width: 100px;
        position: relative;

        span{
            margin-left: 45%;
            position: absolute;
            margin-top: -16.5px;
            color: rgb(250, 82, 15);
        }
    }
}

.section_menu{
    display: flex;
    color: white;
    width: 60%;
    margin: auto;

    .bckgr:hover{
        background-color: rgb(250, 82, 15);
        border-radius: 5px;
    }
}

.div_menu_izquierda{

    ul li{
        margin-bottom: 30px;
        width: 30%;
        padding: 10px;
    }

    .ofertas_dia{
        width: 50%;
        margin-top: 30px;
        margin-bottom: 30px;

        h3{
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

}



.articulo_menu{
    display: flex;
    margin-top: 20px;

    .div_parrafo{
        margin: 10px;

        h3{
            font-weight: bold;
        }

        h3 span{
            color:rgb(250, 82, 15) ;
        }

        p{
            color: grey;
            width: 80%;
            height: 80;
        }
    }

    img{
        width: 200px;
        height: auto;
    }

    .leer{
        text-decoration: none;
        font-weight: bold;
        color: rgb(250, 82, 15);
    }
}