.nav_contacto{
    background-color: rgb(37, 37, 63);
    color: whitesmoke;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.icon_nav{
    color: rgb(250, 82, 15);
}